-if(flash[:notice].blank? == false)
	%div.alert.alert-dismissable.alert-warning.text-center
		%button.close{:href => "#", :data => {:dismiss => "alert"}, :aria=> {:hidden => "true"}}
			&times;
		%span
			=flash[:notice]
-if(flash[:alert].blank? == false)
	%div.alert.alert-dismissable.alert-danger.text-center
		%button.close{:href => "#", :data => {:dismiss => "alert"}, :aria=> {:hidden => "true"}}
			&times;
		%span
			=flash[:alert]
-if(flash[:success].blank? == false)
	%div.alert.alert-dismissable.alert-success.text-center
		%button.close{:href => "#", :data => {:dismiss => "alert"}, :aria=> {:hidden => "true"}}
			&times;
		%span
			=flash[:success]