=form_for :ticket, url:{action: "create", :controller => "tickets"}, html:{class: "form-horizontal"} do |f|
	%div.form-group
		=f.label :ticket_user_name, 'Ticket User First Name', {:class => 'col-lg-2 control-label'}
		%div.col-lg-4
			=f.text_field :ticket_user_name , {:class => "form-control", :value => current_user.first_name, readonly: true}
	%div.form-group
		=f.label :ticket_user_email, 'Ticket User Email', {:class => 'col-lg-2 control-label'}
		%div.col-lg-4
			=f.email_field :ticket_user_email, {:class => "form-control", :value => current_user.email, readonly: true}
	%div.form-group
		=f.label :ticket_user_contact_number, 'Ticket User Contact Number', {:class => 'col-lg-2 control-label'}
		%div.col-lg-4
			=f.text_field :ticket_user_contact_number, {:class => "form-control", :value => current_user.contact_number, readonly: true}
	%div.form-group
		=f.label :ticket_title, 'Ticket Title', {:class => 'col-lg-2 control-label'}
		%div.col-lg-4
			=f.text_field :ticket_title , {:class => "form-control", :placeholder => "Issue Title"}
	%div.form-group
		=f.label :ticket_description, 'Ticket Description', {:class => 'col-lg-2 control-label'}
		%div.col-lg-4
			=f.text_area :ticket_description , {:class => "form-control", :placeholder => "Ticket Description"}
	%div.form-group
		=f.label :ticket_type, 'Ticket Type', {:class => 'col-lg-2 control-label'}
		%div.col-lg-4
			=f.select(:ticket_type, TicketType.all.map {|d| "#{d.name}"}, {}, {:class => "form-control"})
	%div.form-group
		=f.label :ticket_sub_type, 'Ticket Sub Type', {:class => 'col-lg-2 control-label'}
		%div.col-lg-4
			=f.select(:ticket_sub_type, TicketSubType.all.map {|d| "#{d.name}"}, {}, {:class => "form-control"})
	%div.form-group
		%div.col-lg-offset-2.col-lg-10
			=f.submit :class => 'btn btn-primary'
			= link_to root_path do
				= content_tag :button, class: "btn btn-danger" do
					="Cancel"