-if current_user.has_role? :admin
	%div.well
		%h1.text-center
			="Status Of All Tickets"
		%br
		-if @allTickets.blank?
			%p.text-center
				No Ticket Generated
		-else
			%div
				%table.table.table-hover.table-condensed.text-center
					%tr
						%th.text-center
							User First Name
						%th.text-center
							User Email
						%th.text-center
							User Contact Number
						%th.text-center
							Ticket Title
						%th.text-center
							Ticket Description
						%th.text-center
							Ticket Start Time
						%th.text-center
							Ticket Status
						%th.text-center
							Ticket Close Time
						%th.text-center
							Options
					-@allTickets.each do |aTicket|
						%tr
							%td= aTicket.ticket_user_name
							%td= aTicket.ticket_user_email
							%td= aTicket.ticket_user_contact_number
							%td= aTicket.ticket_title
							%td= aTicket.ticket_description
							%td= aTicket.created_at.localtime
							-if aTicket.ticket_status == true
								%td= "ON"
								%td= "Ticket is opened"
								%td
							-else
								%td= "Close"
								%td= aTicket.updated_at.localtime
								%td= "Ticket is Closed"