%div.well
	%h1.text-center
		="#{current_user.first_name} Tickets"
	%br
	-if @allTickets.blank?
		%p.text-center
			No Ticket Generated
	-else
		%div
			%table.table.table-hover.table-condensed.text-center
				%tr
					%th.text-center
						User First Name
					%th.text-center
						User Email
					%th.text-center
						User Contact Number
					%th.text-center
						Ticket Title
					%th.text-center
						Ticket Description
					%th.text-center
						Ticket Start Time
					%th.text-center
						Ticket Status
					%th.text-center
						Ticket Close Time
					%th.text-center
						Options
				-@allTickets.each do |aTicket|
					%tr
						%td.info= aTicket.ticket_user_name
						%td.info= aTicket.ticket_user_email
						%td.info= aTicket.ticket_user_contact_number
						%td.info= aTicket.ticket_title
						%td.info= aTicket.ticket_description
						%td.info= aTicket.created_at.localtime
						-if aTicket.ticket_status == true
							%td.info= "ON"
							%td.info
						-else
							%td.info= "Close"
							%td.info= aTicket.updated_at.localtime
						%td.info
							= link_to ticket_path(aTicket.id) do
								= content_tag :button, :class => "btn btn-primary" do
									= content_tag :span, class: "glyphicon glyphicon-list" do
										=""