%div.well
	%h1.text-center
		="Ticket Title: #{@ticket.ticket_title} Tickets"
	%br
	-if @ticket.blank?
		%p.text-center
			No Ticket Generated
	-else
		%div.container
			%div.list-group.col-lg-10
				%a.list-group-item
					%p.list-group-item-heading.text-center
						Ticket Status
					%h4.list-group-item-text.text-center.text-success
						-if(@ticket.ticket_status == true)
							="ON"
							%br
							="Ticket Start Time: #{@ticket.created_at.localtime}"
						-else
							="Close"
							%br
							="Ticket Start Time: #{@ticket.created_at.localtime}"
							%br
							="Ticket Close Time: #{@ticket.updated_at.localtime}"
			%div.list-group.col-lg-5
				%a.list-group-item
					%p.list-group-item-heading
						First Name
					%h4.list-group-item-text
						-if(@ticket.ticket_user_name.blank?)
							="--"
						-else
							=@ticket.ticket_user_name.capitalize
			%div.list-group.col-lg-5
				%a.list-group-item
					%p.list-group-item-heading
						Email
					%h4.list-group-item-text
						-if(@ticket.ticket_user_email.blank?)
							="--"
						-else
							=@ticket.ticket_user_email
			%div.list-group.col-lg-5
				%a.list-group-item
					%p.list-group-item-heading
						Contact Number
					%h4.list-group-item-text
						-if(@ticket.ticket_user_contact_number.blank?)
							="--"
						-else
							=@ticket.ticket_user_contact_number.capitalize
			%div.list-group.col-lg-5
				%a.list-group-item
					%p.list-group-item-heading
						Ticket Description
					%h4.list-group-item-text
						-if(@ticket.ticket_description.blank?)
							="--"
						-else
							=@ticket.ticket_description.capitalize