%h3
	Edit 
	= resource_name.to_s.humanize
%br
%br
=form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "form-horizontal" }) do |f|
	=devise_error_messages!
	%div.form-group
		=f.label :email, 'Email', {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			=f.email_field :email, {:class => 'form-control', :id => 'inputEmail'}
	-if devise_mapping.confirmable? && resource.pending_reconfirmation?
		%div
			Currently waiting confirmation for: 
			= resource.unconfirmed_email
	%div.form-group
		= f.label :password, 'Password', {:class => 'col-lg-2 control-label'}
		%i (leave blank if you don't want to change it)
		%div.col-lg-3
			=f.password_field :password, :autocomplete => "off", :class => 'form-control' 
	%div.form-group
		=f.label :password_confirmation, 'Password Confirmation', {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			=f.password_field :password_confirmation, {:class => 'form-control'}
	%div.form-group
		=f.label :current_password, 'Current Password', {:class => 'col-lg-2 control-label'}
		%i (we need your current password to confirm your changes)
		%div.col-lg-3
			=f.password_field :current_password, {:class => 'form-control'}
	%div.form-group
		=f.label :first_name, 'First Name', {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			=f.text_field :first_name, {:class => 'form-control', :value => current_user.first_name}
	%div.form-group
		=f.label :last_name, 'Last Name', {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			=f.text_field :last_name, {:class => 'form-control', :value => current_user.last_name}
	%div.form-group
		=f.label :contact_number, 'Conttact Number', {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			=f.text_field :contact_number, {:class => 'form-control', :value => current_user.contact_number}
	%div.form-group
		%div.col-lg-offset-2.col-lg-10
			=f.submit "Update", :class => 'btn btn-primary'
			= link_to root_path do
				= content_tag :button, class: "btn btn-danger" do
					="Cancel"