%h2.text-center
    Sign up
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "form-horizontal" }) do |f|
    = devise_error_messages!
    %div.form-group
        =f.label :first_name, 'First Name', {:class => 'col-lg-2 control-label'}
        %div.col-lg-3
            =f.text_field :first_name, {:class => 'form-control', :placeholder => "Your Frist Name"}
    %div.form-group
        =f.label :last_name, 'Last Name', {:class => 'col-lg-2 control-label'}
        %div.col-lg-3
            =f.text_field :last_name, {:class => 'form-control', :placeholder => "Your Last Name"}
    %div.form-group
        =f.label :email, 'Email', {:class => 'col-lg-2 control-label'}
        %div.col-lg-3
            =f.email_field :email, {:class => 'form-control', :placeholder => "someone@example.com"}
    %div.form-group
        =f.label :password, 'Password', {:class => 'col-lg-2 control-label'}
        %div.col-lg-3
            =f.password_field :password, {:class => 'form-control', :placeholder => "Pasword"}
    %div.form-group
        =f.label :password_confirmation, 'Password Confirmation', {:class => 'col-lg-2 control-label'}
        %div.col-lg-3
            =f.password_field :password_confirmation, {:class => 'form-control', :placeholder => "Retype Password"}
    %div.form-group
        %div.col-lg-offset-2.col-lg-10
            =f.submit "Sign Up", :class => 'btn btn-primary'
            = link_to root_path do
                = content_tag :button, class: "btn btn-danger" do
                    ="Cancel"
-# %br
-# = render "users/shared/links"
